{% if href %}
    <a href="{{ href }}" class="btn-{{ variant }} {{ size }} {{ extra_classes }}">
        {% if icon %}
            <span class="inline-block mr-2">{{ icon }}</span>
        {% endif %}
        {{ text }}
    </a>
{% else %}
    <button type="{{ type|default:'button' }}" class="btn-{{ variant }} {{ size }} {{ extra_classes }}" {% if onclick %}onclick="{{ onclick }}"{% endif %}>
        {% if icon %}
            <span class="inline-block mr-2">{{ icon }}</span>
        {% endif %}
        {{ text }}
    </button>
{% endif %}

